@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto.woff2') format('woff2'),
       url('../fonts/roboto.woff') format('woff'),
       url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/robotomedium.woff2') format('woff2'),
       url('../fonts/robotomedium.woff') format('woff'),
       url('../fonts/Roboto-Medium.ttf') format('truetype');
  }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/robotobold.woff2') format('woff2'),
       url('../fonts/robotobold.woff') format('woff'),
       url('../fonts/Roboto-Bold.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 960px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #849d8f;
}

.wrapper {
  width: 1200px;
  min-width: 940px;
  margin: 0 auto;
  padding: 0 27px;
}

.visible-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation,
.user-navigation,
.catalog-list,
.footer-socials,
.footer-info,
.breadcrumbs,
.basket-list,
.pagination,
.fat,
.fillers {
  list-style: none;
}

.catalog-list a,
.footer-socials a,
.pagination a,
.basket-full a {
  text-decoration: none;
}

.site-navigation a,
.user-navigation a,
.main-contacts a,
.footer-info a,
.footer-socials a,
.footer-copyright a,
.breadcrumbs a,
.pagination a {
  color: #ffffff;
}

.user-login a:hover,
.user-login a:active,
.main-contacts .tel:hover,
.main-contacts .tel:active,
.pagination a:hover,
.pagination a:active,
.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #e84d37;
}

.footer-copyright a:hover,
.footer-copyright a:active,
.map-contacts .tel:hover,
.map-contacts .tel:active,
.news a:hover,
.news a:active,
.footer-info a:hover,
.footer-info a:active,
.basket-full li > a:hover,
.basket-full li > a:active {
  color: #ffbc9e;
}

.button {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  color: #fefefe;
  vertical-align: middle;
  text-decoration: none;
  text-shadow: 0 1px 5px black;

  background-color: #eb563b;
  box-shadow: 0px 2px 3px #ac1000;
  border-radius: 30px;
  border: none;
  cursor: pointer;

  padding: 10px 20px;
  display: inline-block;
}

.button:hover,
.button:focus {
  background-color: #f17c64;
}

.button:active {
  box-shadow: inset 0px 1px 3px #000000;
  background-color: #dc5639;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: inherit;
}

.main-nav > div,
.site-navigation,
.user-navigation {
  display: flex;
  align-items: center;
}

.navigation-item > a:hover {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
  vertical-align: middle;
  text-decoration: none;

  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: none;
  cursor: pointer;

  padding: 10px 20px;
}

.navigation-item > a:active {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
  vertical-align: middle;
  text-decoration: none;
  box-shadow: inset 0px 1px 3px black;

  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: none;
  cursor: pointer;

  padding: 10px 20px;
}

.navigation-item .current {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
  text-decoration: none;
  box-shadow: none;

  background-color: #d07058;
  border-radius: 30px;
  border: none;
  cursor: pointer;

  padding: 10px 20px;
}

.catalog-list li:hover {
  background-color: #fbded7;
  color: #323232;
}

.catalog-list li:active {
  background-color: #f6b5a5;
  color: #323232;
}

.catalog-list .item-current {
  color: #ffffff;
  background-color: #d07058;
}

.catalog-list a {
  background-color: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.item-current > a {
  color: #ffffff;
}

.navigation-button {
  font: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
  color: #fefefe;
  vertical-align: middle;
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  border: none;
  cursor: pointer;

  padding: 10px 20px;

  display: inline-block;
}

.navigation-button:hover {
  font: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
  color: #323232;
  vertical-align: middle;
  text-decoration: none;

  background-color: #f8f7f4;
  border-radius: 30px;
  border: none;
  cursor: pointer;

  padding: 10px 20px;

  display: inline-block;
}

.navigation-button.press {
  color: #323232;
  background-color: #f8f7f4;
}

.basket-full {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  background-color: #f8f7f4;
  width: 541px;
  border-radius: 5px;
}

.basket-full li > a {
  color: #323232;
}

.basket-list .light {
  color: #999999;
}

.basket-total {
  text-align: right;
}

.offers {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.offers article {
  width: 560px;
  min-height: 230px;
  border-radius: 15px;
}

.offers h2 {
  color: #ffffff;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.offers p {
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.offers .item-1 {
  background-color: #8a0d28;
  background-image: url("../img/back_berry.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.offers .item-2 {
  background-color: #3a1e0c;
  background-image: url("../img/back_choco.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.features {
  border-radius: 15px;
  min-height: 300px;
  background-color: #ecdfc6;
  background-image: url("../img/back_waf.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.features-list {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  list-style: none;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.features-list > li {
  width: 484px;
}

.features p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.products-items {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.item-products {
  width: 270px;
  min-height: 324px;
  margin-bottom: 38px;
  text-align: center;
  position: relative;
}

.item-products a {
  color: #ffffff;
  text-decoration: none;
}

.item-products div {
  position: relative;
  z-index: 15;
}

.item-products .products-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
}

.item-products .products-weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.item-products .products-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;

  position: absolute;
  bottom: 66px;
  text-align: left;
  z-index: 20;
}

.item-hit::before{
  content: '';
  position: absolute;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-position: 0 0;
  z-index: 20;
  left: 0;
}

.item-products::after {
  position: absolute;
  left: -13px;
  top: -8px;
  width: 296px;
  height: 405px;
  content: '';
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  display: none;
  z-index: 5;
}

.item-products:hover::after {
  display: block;
}

.item-products .button {
  display: none;
  position: absolute;
  bottom: -55px;
  left: 30px;
  z-index: 20;
}

.item-products:hover .button {
  display: inline-block;
}

.map {
  text-align: center;
  position: relative;
  padding: 0;
}

.map-contacts {
  width: 304px;
  height: 304px;
  background-color: #fefefe;
  border-radius: 15px;

  position: absolute;
  right: 27px;
  top: calc(50% - 152px);
}

.map-contacts p {
  color: #323232;
  font-size: 14px;
  line-height: 20px; 
}

.map-contacts strong {
  font-size: 18px;
  line-height: 24px;
  display: block;
}

.map-contacts .tel {
  font-size: 18px;
  line-height: 22px;
}

.slider {
  text-align: center;
}

.main-contacts {
  text-align: right;
}

.main-contacts p {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.main-contacts .tel {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.tel {
  color: inherit;
  text-decoration: none;
}

.circle-ice {
  border-radius: 50%;
  background-clip: content-box;
}

.news-and-subscription {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.news {
  border-radius: 15px;
  min-height: 222px;
  width: 561px;
  background-color: #f8f7f4;
  background-image: url("../img/back_news.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.news h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: inherit;
}

.subscription {
  min-height: 222px;
  width: 561px;
  border: 5px solid #fe9e90;
  border-radius: 15px;
  border-image: url("../img/bg-post.svg") 5 round round;
  background-color: #f8f7f4;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  width: 300px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-copyright {
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.breadcrumbs {
  display: flex;
  align-items: center;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.filters-wrapper {
  display: flex;
  align-items: flex-end;
  color: #fefefe;
}

.filters-select {
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.filters-background {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 7px 12px;
  border-radius: 30px;
  text-align: center;
}

.filters-wrapper fieldset {
  border: none;
  padding: 0;
}

.fillers,
.fat {
  display: flex;
  align-items: center;
}

.button-filter {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #fefefe;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  border: 2px solid #fefefe;
  cursor: pointer;

  padding: 8px 28px;

  display: inline-block;
}

.main-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pagination .current-page {
  background-color: #f8f7f4;
  border-radius: 30px;
  border: none;
}

.pagination li {
  padding: 3px 8px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.current-page a {
  color: #323232;
}

.modal-subscription {
  background-color: #f8f7f4;
  border-radius: 5px;
  width: 478px;
}

.search {
  background-color: #f8f7f4;
  border-radius: 5px;
  padding: 3px;
  width: 342px;
}

.user-login {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;

  background-color: #f8f7f4;
  border-radius: 5px;
  width: 278px;
}

.catalog-list,
.search,
.user-login,
.modal-subscription,
.basket-full {
  display: none;
}
